### Loops

In [1]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
for i in range(1, 10, 2):   ## step size of 2
    print(i)

1
3
5
7
9

In [6]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [8]:
## strings
str = "Narendra Modi"

for i in str:
    print(i)

N
a
r
e
n
d
r
a

M
o
d
i

In [11]:
## while loop
count = 0

while count<=5:
    print(count)
    count=count+1

0
1
2
3
4
5

In [14]:
## Loop Control Statement
## break (The break statement exits the loop prematurely)

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
## continue (skips the current iteration and continues with the next)

## Display odd no b/w 0 and 10
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
## pass (is a null operation and does nothing)
## break rok deta hai

for i in range(10):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
## Nested Loops
## loop inside loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [ ]:
## examples 1
## calculate sum of first N natural no using while and for loop

## while loop
n = 10
sum = 0
count = 1

while count<=n:
    sum = sum + count
    count = count + 1
print("Sum =>", sum)

Sum => 55

In [23]:
## for loop 
sum = 0
for i in range(11):
    sum = sum + i
print("Sum =>", sum)

Sum => 55

In [27]:
## ex 2
## Display prime no b/w 1 and 100
for n in range(2,101):
    for i in range(2, n):
        if n%i == 0:
            break
    else:
        print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97